<div class="row">
	<div class="large-2 columns text-right">
		<span class="label">Reddit</span>
	</div>
	<div class="large-8 columns">
		REddit reddit reddit
	</div>
	<div class="large-2 columns">
		
	</div>
</div>