<div class="row">
	<div class="large-2 columns text-right">
		<span class="label">Twitter</span>
	</div>
	<div class="large-8 columns">
		@{{data.user.screen_name}}: {{data.text}}
	</div>
	<div class="large-2 columns">
		{{data.id_str}}
	</div>
</div>