<div class="row">
	<div class="large-2 columns text-right">
		<span class="label">Reddit</span>
	</div>
	<div class="large-8 columns">
		{{{urlMaker data.direct_message.text}}}
	</div>
	<div class="large-2 columns">
		{{data.direct_message.id_str}}
	</div>
</div>