.viewContainer{
	margin-top: 0.5em;
}
.statusUpdate{
	border:1px solid;
	border-color: #999;
	height: 130px;
	overflow: hidden;
	padding: 0;
}
.statusUpdate div{
	display: inline-block;
	vertical-align: top;
}
.statusOrigin{
	width: 20px;
	background-color: #00ACAE;
	height: 100%;
	color: #F5EFD5;
	text-align: center;
	padding-top: 0.5em;
}
.statusSender, .statusContent{
	padding-top: 0.3em;
	width: 90%;
}
.statusText{
	height: 40px;
	line-height: 1.2;
}
.statusSender, .statusText{
	margin-bottom: 1rem;
}